<nav class="left drawer l">
    <header>
      <nav>
        <img src="/images/logo.webp" class="circle">
        <h6>Anonymoose</h6>
      </nav>
    </header>
    <a href="/">
      <i>home</i>
      <div>Home</div>
    </a>
    <a href="/upload">
      <i>share</i>
      <div>Share</div>
    </a>
    <div class="divider"></div>
    <label>Account</label>
    <a>
      <i>widgets</i>
      <div>Coming Soon</div>
    </a>
    <a>
      <i>chat</i>
      <div>Coming Soon</div>
    </a>
    <a>
      <i>help</i>
      <div>Coming Soon</div>
    </a>  
  </nav>
<%# ----- MOBILE VIEW ----- %>
  <nav class="left m">
    <header>
      <img src="/images/logo.webp" class="circle">
    </header>
    <a>
      <i>home</i>
      <div>Home</div>
    </a>
    <a>
      <i>share</i>
      <div>Share</div>
    </a>
    <a>
      <i>more_vert</i>
      <div>More</div>
    </a>
  </nav>

  <nav class="bottom s">
    <a>
      <i>home</i>
    </a>
    <a>
      <i>search</i>
    </a>
    <a>
      <i>share</i>
    </a>
    <a>
      <i>more_vert</i>
    </a>
  </nav>