<% content_for :title do %>Error 404<% end %>
 <article class="border">
  <div class="row">
    <img class="circle large" src="/images/404-error.png">
    <div class="max">
      <h5>Error 404</h5>
      <p>Page doesn't exist or the link is no longer valid</p>
    </div>
  </div>
  <nav>
    <a href="/" class="border round button">Home</a>
  </nav>
</article>