<% content_for :title do %>Home<% end %>
<img src="/images/logo.webp" id="main-logo" alt="Anonymoose" class="circle extra">
<h1 class="beer">Welcome to Anonymoose</h1>
<p class="lead">Share and upload files anonymously. Files are encrypted and stored for a short term.</p>
<a href="/upload" class="button primary">Upload a file</a>
<a href="#" class="button primary">Test Button</a>

