<% content_for :title do %>Home<% end %>
<article class="no-padding">
  <div class="grid no-space">
    <div class="s6">
      <img class="responsive" src="/images/logo.webp">
    </div>
    <div class="s6">
      <div class="padding">
        <h5>Welcome to Anonymoose</h5>
        <p>Share and upload files anonymously. Files are encrypted and stored for a short term.</p>
        <nav>
          <a href="/upload" class="border round button">Upload</a>
        </nav>
      </div>
    </div>
  </div>
</article>