<% content_for :title do %>Home<% end %>
<img src="/logo.webp" id="main-logo" alt="Anonymoose">
<h1>Welcome to Anonymoose</h1>
<p>Share and upload files anonymously. Files are encrypted and stored for a short term.</p>
<a href="/upload" class="button">Upload a file</a>
