<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= yield :title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%= erb :_navbar %>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>
