<% content_for :title do %>Upload Success<% end %>

<h1>Upload Successful!</h1>
<p>Your file has been uploaded successfully.</p>
<p>Here is your unique link: <a href="/uploads/<%= link %>"><%= link %></a></p>
<a href="/" class="button">Go back to home</a>
