<% content_for :title do %>Upload Success<% end %>

<article class="border">
  <h5>Upload Success</h5>
  <a href="/uploads/<%= link %>" class="row padding surface-container">
  <i>check_circle</i>
  <div class="max">
    <h6 class="small">Right click to copy to copy your link</h6>
  </div>
  <label>Link Expires in : <%= ttl %> minutes</label>
  </a>
  <a href="/" class="border round button">Home</a>
</article>