<% content_for :title do %>Upload a File<% end %>

<h1>Upload a File</h1>
<% if @error_message %>
  <p class="error"><%= @error_message %></p>
<% end %>
<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="file">
  <label for="upload-expiration">Choose expiration:</label>
  <select name="expiration" id="expiration">
    <option value="15">15 Minutes</option>
    <option value="60">1 Hour</option>
    <option value="240">4 Hours</option>
    <option value="480">8 Hours</option>
    <option value="1440">1 Day</option>
  </select>
  <button type="submit">Upload</button>
</form>
