<% content_for :title do %>Upload a File<% end %>

<h1>Upload a File</h1>
<% if @error_message %>
  <p class="error"><%= @error_message %></p>
<% end %>
<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="file">
  <label for="upload-expiration">Choose expiration:</label>
  <select name="expiration" id="expiration">
    <option value="900">15 Minutes</option>
    <option value="3600">1 Hour</option>
    <option value="14400">4 Hours</option>
    <option value="28800">8 Hours</option>
    <option value="86400">1 Day</option>
    <%# Need to mask this with an enum %>
  </select>
  <button type="submit">Upload</button>
</form>
