<% content_for :title do %>Upload a File<% end %>

<h1>Upload a File</h1>
<% if @error_message %>
  <p class="error"><%= @error_message %></p>
<% end %>
<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="file">
  <button type="submit">Upload</button>
</form>
